<launch>
    
    
    <node name="rviz_visualizer" pkg="rviz" type="rviz" required="true" 
          args="-d $(find rviz_lidar)/rviz/lidar_urdf.rviz"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" 
                type="state_publisher"/>
    <param name="robot_description" textfile="$(find rviz_lidar)/urdf/lidar_urdf.urdf" />
    <param name="use_gui" value="true"/>

    
    <node name="lidar_urdf" pkg="rviz_lidar" type="lidar_urdf.py" />

    <node name="rosbag_play" pkg="rosbag" type="play" output="screen" 
          required="true" args="$(find rviz_lidar)/src/lidar_topic.bag"/>

</launch>

